.chat-list-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px var(--border-color);
  cursor: pointer;
}

.chat-item{
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.chat-details{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.chat-name, .chat-last-message, .chat-date{
  margin: 0;
}
